{% extends 'base.html' %}

{% block content %}
    <!-- CONTAINER PRINCIPAL -->
    <div class="container-fluid bg-primary-subtle">

        <!-- LOGO -->
        <div class="container-fluid align-self-center text-center">
            <div class="row">
                <h1>Key Lizard</h1>
            </div>
            <div class="row mt-1">
                <h2>De olho nas chaves!</h2>
            </div>
        </div>
        <!-- LOGO - FIM -->

        <!-- BOTÃO DE LOGIN -->
        <div class="container-fluid">
            <div class="row">
                <a href="#">Login/Cadastrar</a>
            </div>
        </div>
        <!-- BOTÃO DE LOGIN - FIM -->

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-1">
            <div class="container-fluid">
                <a class="navbar-brand" href="javascript:void(0)">Key Lizard</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Parceiros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Funcionalidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Fale conosco</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Digite algo...">
                        <button class="btn btn-primary" type="button">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <!-- NAVBAR - FIM -->

    </div>
    <!-- CONTAINER PRINCIPAL - FIM -->
{% endblock %}